.MuiBox-root {
  border-radius: 1;
  background-color: rgb(220, 215, 215);
  border-radius: 1em;
  border: 2px solid black;
  text-align: left;
  min-width: 50vw;
  max-width: fit-content;
  max-height: fit-content;
  padding: 0.5em;
  margin: 0.5em;
}
.MuiBox-root:hover {
  background-color: rgb(187, 186, 186);
}
.comments {
  border-radius: 1;
  border-radius: 1em;
  border: 2px solid black;
  text-align: left;
}
