.post-page{
    
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: fit-content;
    height: 100%;
    scroll-behavior: auto;
}
.like-icon{
    margin: auto;
}
.comment-text{  
    padding: 0px;
    margin: 2px;
}